<p>
    <h1>
    {{user.firstname}} {{user.lastname}}
    </h1>
    <br>
   Bio: {{bio}}
    <br>
   Location: {{location}}
    <br>
   Activities: {{activities}}
    <br>
   Snapchat: {{snapchat}}
    <br>
    Instagram: {{instagram}}
    <br>
    Age: {{age}}
    <br>
    Phone Number: {{phonenumber}}

</p>