{{!-- <!-- Loop over each object in the projects array -->
{{#each projects as |project| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/project/{{project.id}}">{{project.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount project.needed_funding}}</span>
      needed!
    </p>
    <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{project.description}}
    </p>
  </div>
</div>
{{/each}} --}}

<section class="" id="container-icebreak">
    {{!-- <img src="/BackofGym-1380x600.jpeg" alt="gym"> --}}

    <section class="container">
        <div id="icebreak-info">
            <h1>
                PUMP IT!
                </h1>
                <h3>
                    Brreaking the Ice
                </h3>
                <p>
                    Dont know what to say to your matches? <br>Try one of these ice breakers! Here are a list of topics we recommend discussing with your matches.
                </p>
        </div>
        </section>
</section>


<br>

<div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Which gym is your favorite, and why?
        </p>
        <br>
        <p class="subtitle"></p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">What are your fitness goals?
        </p>
        <p class="subtitle"></p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">What is your favorite exercise?
        </p>
        <p class="subtitle"></p>
        <div class="content">
          <p></p>
        </div>
      </article>
    </div>
  </div>

  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Where is your favorite place to get smoothies?
        </p>
        <p class="subtitle"></p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Do you prefer to workout with men, or woman?
        </p>
        <p class="subtitle"></p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">What are you looking for here, love?
        </p>
        <p class="subtitle"></p>
        <div class="content">
          <p></p>
        </div>
      </article>
    </div>
  </div>
