<p>this information is hidden behind the nav bar</p>
<p> -</p>

{{#each profiles as |profiles| }}

<h3>
<a href="/matches/{{id}}">{{user.firstname}} {{user.lastname}}</a>
</h3>
{{!-- <h3>{{user.firstname}} {{user.lastname}}</h3> --}}
<!--<p>{{user.username}}</p>
<p>Activities: {{activities}}</p>  
<p>Bio: {{bio}}</p>  
<p>Age: {{age}}</p>  
<p>Location: {{location}}</p>
{{!-- <p>snapchat: {{snapchat}}</p>  
<p>instagram: {{instagram}}</p>  
<p>email: {{user.email}}</p>  

<p>phonenumber: {{phonenumber}}</p>-->  

<div class="card">
    <img src="./images/photo-of-woman-8.jpg" class="card-img-top" alt="...">

    <div class="card-body">
      <h4 class="card-title">{{img}}</h4>
      <h5 class="card-title">{{user.firstname}} {{user.lastname}}</h5>
      <p class="card-text">{{activities}}</p>
    </div>
    {{!-- <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="m-2 card-group"></div>
  <div class="m-2 card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="card-title">{{img}}</h4>
      <h5 class="card-title">{{user.firstname}} {{user.lastname}}</h5>
      <p class="card-text">{{activities}}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="m-2 card-group"></div>
  <div class="m-2 card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="card-title">{{img}}</h4>
      <h5 class="card-title">{{user.firstname}} {{user.lastname}}</h5>
      <p class="card-text">{{activities}}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div> --}}
  
</div>
{{/each}}





 {{!-- <body class="bg-dark"> 
<div class="m-2 card-group">
  <div class="m-2 card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="m-2 card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="m-2 card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
    
  </div>
</div>
 <div class="m-2 card-group">
  <div class="m-2 card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="m-2 card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="m-2 card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
    
  </div>
</div>   
 <div class="m-2 card-group">
  <div class="m-2 card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{location}}</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="m-2 card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="m-2 card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
    
  </div>
</div>    

</body>

</html>