<div class="matches-wrapper">
{{#each profiles as |profiles| }}
<div class="m-2 card">
    <img src="{{profile_img_url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title"><a href="/match/{{id}}">{{user.firstname}} {{user.lastname}}</a></h2>
      <p class="card-text">{{activities}}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Finding love in all the right places</small>
    </div>
  </div>
{{/each}}
</div>
</div>   

